APP_NAME=Unify V9
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://unify-cs.ac.ir

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=unify_db
DB_USERNAME=unify_user
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

SANCTUM_STATEFUL_DOMAINS=unify-cs.ac.ir
PUSHE_API_KEY=
KAVENEGAR_API_KEY=

TIMEZONE=Asia/Tehran