VITE_API_URL=https://api.unify-cs.ac.ir/api/v1
VITE_APP_NAME=Unify
VITE_APP_URL=https://unify-cs.ac.ir
VITE_POLLING_INTERVAL=15000
VITE_POLLING_BACKGROUND_INTERVAL=60000
VITE_ENABLE_PUSHE=true
VITE_PUSHE_APP_ID=your_pushe_app_id
VITE_ENABLE_SMS_OPT_IN=true
VITE_FILE_CACHE_MAX_MB=100
VITE_MAX_UPLOAD_MB=50
